<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.dao.ChatDao">


    <insert id="sendMessage">
      insert into chatMessage_tab (chat_id,from_id,to_id,message,chat_time)
      values (#{chat_id},#{from_id},#{to_id},#{message},#{chat_time})
    </insert>

    <insert id="newChat">
        insert into chatUser_tab(user_id1,user_id2)
        values (#{0},#{1})
    </insert>
    <!--获取聊天消息，将c.chat_id==#{chat_id}即可为与某用户的聊天id-->
    <select id="getChatByChatId" resultType="com.ssm.pojo.ChatMessage">
      SELECT c.chat_id,c.from_id,c.to_id,c.message,c.chat_time,u.user_name,u.user_avatar
      FROM user_tab u INNER JOIN chatMessage_tab c
      ON u.user_id = c.from_id
    WHERE c.chat_id =#{chat_id}
    ORDER 	BY c.chat_time ASC
    </select>


    <!--查询chat_id-->
    <select id="getChatId" resultType="java.lang.String">
        select chat_id from chatUser_tab
        WHERE (user_id1=#{0} and user_id2=#{1}) OR(user_id2=#{0} and user_id1=#{1})
    </select>

    <!--获取某用户的所有聊天用户-->
    <select id="getChatUser" resultType="com.ssm.pojo.ChatUser">
        SELECT c.chat_id,u.user_id,u.user_nickname,u.user_avatar from chatUser_tab as c,user_tab as u
        where (user_id1 =#{0} and user_id = user_id2) or(user_id2 =#{0} and user_id = user_id1)
    </select>


</mapper>

