<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.dao.NewsDao">

    <select id="getAllNewsInfor" resultType="com.ssm.pojo.NewsInfor">
      select * from news_tab
    </select>

    <select id="getNewsTotal" resultType="java.lang.Integer">
        select count(*) as count from news_tab
    </select>

    <select id="getPageNewsInfor" resultType="com.ssm.pojo.NewsInfor">
        select * from news_tab limit #{0}, 15;
    </select>


    <update id="changeNewsState">
        update news_tab
        set news_state = #{1}
        where news_id =#{0}
    </update>
    <update id="changeNewsCommentState">
        update newsComment_tab
        set comment_state = #{1}
        where comment_id = #{0}
    </update>

    <update id="changeNewsReplayState">
        update newsReplay_comment
        set replay_state = #{1}
        where replay_id = #{0}
    </update>

    <select id="getAllNewsComment" resultType="com.ssm.pojo.NewsComment">
      select n.comment_id,n.news_id,u.user_id,u.user_nickname,n.comment_content,n.comment_time,n.comment_state,news_tab.news_title
      from newsComment_tab as n ,user_tab as u,news_tab
      where n.user_id = u.user_id and n.news_id = news_tab.news_id
    </select>

    <select id="getNewsCommentTotal" resultType="java.lang.Integer">
        select count(*) as count from newsComment_tab
    </select>

    <select id="getPageNewsComment" resultType="com.ssm.pojo.NewsComment">
      select n.comment_id,n.news_id,u.user_id,u.user_nickname,n.comment_content,n.comment_time,n.comment_state,news_tab.news_title
      from newsComment_tab as n ,user_tab as u,news_tab
      where n.user_id = u.user_id and n.news_id = news_tab.news_id
      limit #{0}, 15;
    </select>

    <select id="getAllNewsReplay" resultType="com.ssm.pojo.Replay">
        select A.*,user2.user_nickname as replay_user FROM user_tab as user2
        INNER JOIN
        (select r.replay_id,u.user_id,u.user_nickname as comment_user,n.comment_content,r.replayUser_id,r.replay_content,r.replay_time,r.replay_state
        from newsComment_tab as n ,user_tab as u,newsReplay_comment as r
        where r.comment_id = n.comment_id and u.user_id =n.user_id) A
        on A.replayUser_id = user2.user_id

    </select>
    <select id="getPageNewsReplay" resultType="com.ssm.pojo.Replay">

        select A.*,user2.user_nickname as replay_user FROM user_tab as user2
        INNER JOIN
        (select r.replay_id,u.user_id,u.user_nickname as comment_user,n.comment_content,r.replayUser_id,r.replay_content,r.replay_time,r.replay_state
        from newsComment_tab as n ,user_tab as u,newsReplay_comment as r
        where r.comment_id = n.comment_id and u.user_id =n.user_id) A
        on A.replayUser_id = user2.user_id LIMIT #{0},15;

    </select>

    <select id="getNewsReplayTotal" resultType="java.lang.Integer">
        select count(*) as count from newsReplay_comment
    </select>


</mapper>

